/* style.css */

  h1, h2 {
    text-align: center;
  }
  
  #movie-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #movie-form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em 0;
  }
  
  #movie-form input[type="text"], #movie-form input[type="number"] {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #movie-form button[type="submit"] {
    margin: 1em 0;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    background-color: #0066ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  #movie-table {
    width: 80%;
    margin: 1em auto;
    border-collapse: collapse;
  }
  
  #movie-table th, #movie-table td {
    border: 1px solid #ccc;
    padding: 0.5em;
  }
  
  #movie-table th {
    background-color: rgb(192, 115, 210);;
  }
  
  #movie-table button {
    background-color: transparent;
    border: none;
    color: #e30707;
    font-weight: bold;
    cursor: pointer;
  }
  
  #movie-table th:nth-child(1), #movie-table td:nth-child(1) {
    width: 30%;
  }
  
  #movie-table th:nth-child(2), #movie-table td:nth-child(2) {
    width: 20%;
  }
  
  #movie-table th:nth-child(3), #movie-table td:nth-child(3) {
    width: 20%;
  }
  
  #movie-table th:nth-child(4), #movie-table td:nth-child(4) {
    width: 10%;
  }
  
  button {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
  }

  body.light-mode {
    background-color: white;
    color: black;
  }
  
  body.dark-mode {
    background-color: black;
    color: white;
  }

  body.dark-mode #movie-table th {
    background-color: rgb(153, 16, 183); /* Dark grey background in dark mode */
  }
  
  #sort-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  #sort-buttons button {
    /* Button styles */
    border: 1px solid rgb(103, 101, 101); /* Light grey border */
    border-radius: 8px; /* Rounded edges */
    background-color: transparent;
    color: #5887cd; /* Blue text color */
    font-size: 1em;
    cursor: pointer;
  }
  
  #sort-buttons button:hover {
    /* Hover styles */
    color: #0015ff; /* Red hover color */
  }
  

  /* Style for the color button */
  #color-mode {
    /* Image styles */
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px; /* Adjust the width of the image as needed */
    cursor: pointer;
  }